.feedback__container {
  position: relative;
  height: calc(100vh - 91px);
  display: flex;
  justify-content: center;
  background-color: #002a3a;
  margin-bottom: 1px;
}

.feedback__block {
  max-width: 800px;
  width: 100%;
  padding: 5rem 1rem;
}

.feedback__title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 4rem 0 4rem 0;
  color: #fff;
}

.feedback__form_container {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.feedback__form_group {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedback__input_block {
  min-height: 40px;
  border: 1px solid #fff;
}

.feedback__input_group {
  width: 100%;
  height: 100%;
  background-color: #002a3a;
  font-family: Roboto_Condensed, serif;
}

.feedback__input_group::placeholder {
  color: #fff;
  padding-left: 20px;
}

.feedback__area_block {
}

.feedback__area_group {
  width: 100%;
  height: 100%;
  background-color: #002a3a;
  border: 1px solid #fff;
}

.feedback__area_group::placeholder {
  color: #fff;
  padding: 20px;
  font-family: Roboto_Condensed, serif;
}
