.slider__block_container {
  position: relative;
}

.slider__block {
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px 0;
  padding: 0.5em 1em;
}

.slider__block_title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.1em 0;
}

.slider__block_button {
  display: block;
  color: #fff;
  padding: 1em 1.2em;
  font-size: 16px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  max-width: 200px;
  text-align: center;
  margin: 2em 0 0.5em 0;
  font-weight: 300;
  letter-spacing: 3px;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.slider__block_button:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
}

.slider__section {
  scroll-snap-align: start;
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 90px);
  margin: 90px auto 0 auto;
}

.slider__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1024px) {
  .slider__block {
    max-width: 80vw;
  }
}

@media screen and (max-width: 576px) {
  .slider__block {
    right: 5%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__block_title {
    font-size: 24px;
    font-weight: 300;
  }
}
