* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: aliceblue;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --blue-color: #1b0c42;
  --blue-color-rgba: rgba(27, 12, 66, 0.4);
  --orange-color: rgb(225, 82, 61);
  --orange-color-hover: rgb(225, 82, 61);
  --orange-color-active: rgb(225, 82, 61);
}

.swiper {
  bottom: 20px !important;
}

.swiper-pagination {
  bottom: 20% !important;
  display: flex !important;
  gap: 15px !important;
  justify-content: center !important;
}

.swiper-pagination-bullet {
  background-color: #666464 !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  border: none !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(225, 82, 61) !important;
}

.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}

.ant-modal-content {
  border-radius: 0 !important;
  background-color: aliceblue !important;
}

.ant-modal-title {
  background-color: aliceblue !important;
}

.modal-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal {
  top: 40px;
}

.ant-form-item {
  margin-bottom: 14px !important;
}

.ant-form-item-label {
  padding-bottom: 2px !important;
}

@media screen and (max-width: 768px) {
  .ant-modal {
    top: 10px;
  }
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.body-no-scroll {
  overflow: hidden;
}
