.nav__menu {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 0;
  list-style-type: none;
}

.nav__menu li {
  font-weight: 300;
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav__menu_item {
  text-decoration: none;
  color: #fff;
  display: flex;
  transition: color 0.5s ease;
}

.nav__menu_item:hover {
  color: var(--orange-color-active);
}

.active {
  color: var(--orange-color-active);
  font-weight: 400;
}

.nav__icon {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
}
