.order__button {
  position: fixed;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 24px;
  font-size: 20px;
  transition: color 0.5s ease;
  color: #fff;
  background-color: var(--orange-color);
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  border-radius: 3px;
}

.order__button:hover {
  background-color: rgba(225, 82, 61, 0.8);
}

.submit__button {
  background-color: #002a3a;
  color: #fff;
}

.submit__button:disabled {
  background-color: #909293;
  cursor: not-allowed;
}

.cancel__button {
  background-color: #ffffff;
}

.cancel__button:hover {
  border: 1px solid var(--orange-color-active) !important;
  color: var(--orange-color-active) !important;
}

.consent__text {
  font-size: 10px;
}

/*@media screen and (max-width: 1024px) {*/
/*  .order__button {*/
/*    right: auto;*/
/*    left: auto;*/
/*  }*/
/*}*/

.order__icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  z-index: 1;
  color: white;
  fill: #fff;
}

@media screen and (max-width: 576px) {
  .order__button {
    width: 100vw;
    justify-content: center;
  }
}
