.partners__section {
  height: 100%;
  display: flex;
  justify-content: center;
}

.image__container {
  position: relative;
  height: 330px;
  width: 100%;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px 20px;
}

.grid__item {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--orange-color);
  opacity: 0.7;
  position: relative;
}

.grid__item:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
  }
}

@media screen and (max-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .grid__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
