.burger__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 42, 58, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.burger__overlay_visible {
  /*right: 0;*/
  visibility: visible;
  opacity: 1;
}

.burger__menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f3f1f1;
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.1s,
    opacity 0.5s linear,
    transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.burger__menu_visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.burger__close {
  position: absolute;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 42, 58);
  align-self: end;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  right: 20px;
  top: 20px;
}

.burger__nav {
  padding-top: 84px;
}

.burger__close:hover {
  background-color: #e1523d;
}

.burger__close:focus-visible {
  background-color: #e1523d;
}

.image__close {
  width: 15px;
}

.burger__list {
  list-style: none;
}

.burger__item {
  display: block;
  font-size: 18px;
  font-family: inherit;
  color: #002a3a;
  line-height: 1.3;
  border-bottom: solid 1px #fff;
  padding: 10px 15px 10px;
  transition: 0.4s;
}

.burger__item:hover {
  color: #e1523d;
}

.burger__item:active {
  background-color: #002a3a;
  color: white;
}

.burger__item:focus-visible {
  outline: none;
  color: #e1523d;
}

.header_burger__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.header_burger__img {
  width: 30px;
}

.nav__icon {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  fill: #000;
}

.nav__menu_item {
  font-size: 24px;
  text-decoration: none;
  color: #002a3a;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: color 0.5s ease;
  padding: 20px 15px;
}

.nav__menu_item:hover {
  color: var(--orange-color-active);
}

.active {
  color: var(--orange-color-active);
}

@media screen and (min-width: 1024px) {
  .header_burger__btn {
    display: none;
  }
}
